<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>


   <div style="width: 100%; height: 25vh;" class="swiper swiper-container" [swiper]="config">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img appAsyncSrc="https://picsum.photos/200"/>
          </div>
          <div class="swiper-slide">
            <img appAsyncSrc="https://picsum.photos/200"/>
          </div>
          <div class="swiper-slide">
            <img appAsyncSrc="https://picsum.photos/200"/>
          </div>
          <div class="swiper-slide">
            <img appAsyncSrc="https://picsum.photos/200"/>
          </div>
      </div>

      <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
      <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

      <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
      <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
    </div>